<div class="container">
    <h2 style="color:blueviolet">Search for Department</h2>
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label style="color:blueviolet"for="" class="form-label">Department:</label>
                    <select name="" id="" class="form-control">
                        <option value="Dept. of Psychiatry">Dept. of Psychiatry</option>
                        <option value="Pulmonary Department">Pulmonary Department</option>
                        <option value="Department of Pharmacy">Department of Pharmacy</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
