<div class="container">
    <h2 style="color:blueviolet">Doctors</h2>
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="https://pikwizard.com/photos/portrait-of-male-doctor-sitting-at-desk--a3d68e40ac7238a3f52ecb2c4ab27995-l.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.John,Pulmonogist</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="https://media.sciencephoto.com/image/c0312082/800wm/C0312082-Doctor.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Jacab Adams,Psychiatrist</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="https://i.pinimg.com/736x/a5/b2/6b/a5b26b335cc94272b7c1878ec5b13dbd.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Sridevi Raj</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="https://media.istockphoto.com/photos/indian-male-doctor-picture-id177373093?k=6&m=177373093&s=170667a&w=0&h=qNj3WvmZubJftUBiDX63HutaRBGaADbZzbZMtXUioXY=" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Anand Raj, Ortho Specialist</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="https://tse1.mm.bing.net/th?id=OIP.mBlZl_2Chv0_crI_N_5KSgAAAA&pid=Api&P=0&w=128&h=193" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Stella,Gynaecologist</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="https://pluspng.com/img-png/woman-doctor-png-hd-png-woman-doctor-pluspng-com-700-png-woman-doctor-700.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Christina S, Onchologist</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="https://media.istockphoto.com/photos/portrait-of-a-doctor-picture-id92347287?k=6&m=92347287&s=612x612&w=0&h=URJcB3uKHzlWq42b5UjoA2bd8hPI8B1RLI8ZIpUMsRc=" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Abhraham Schwattzer, Paedatrician</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="http://www.pngall.com/wp-content/uploads/2018/05/Doctor-PNG-File-Download-Free.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Jackson Clarke,Surgeon</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="http://pluspng.com/img-png/doctor-hd-png-we-are-looking-for-qualified-professionals-who-are-passionate-about-their-job-1635.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Emilia Clarke, Paediatrics</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="350px" src="https://pngimg.com/uploads/doctor/doctor_PNG15959.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Patrick Simpson,Psychiatrist</h5>
                         
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

